:root {
  --primary: rgb(239, 79, 95);
  --light: #ffffff;
  --light-grey100: rgb(243, 243, 243);
  --light-grey200: rgb(169, 169, 169);
  --grey: rgb(105, 105, 105);
  --yellow: rgb(252, 238, 192);
  --blue: rgb(37, 111, 239);
}

html,
body {
  /* 1em is 20px */
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  margin: 0px;
  padding: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}
.fs-5 {
  font-size: 0.5rem !important;
}
.fs-7 {
  font-size: 0.7rem;
}
.fs-8 {
  font-size: 0.8rem;
}
.fs-9 {
  font-size: 0.9rem;
}

.nav-tabs .nav-item .nav-link,
.nav-tabs .nav-link:hover {
  border-color: transparent;

  > p {
    color: var(--grey);
    font-size: 0.8rem;
  }
}
.nav-tabs .nav-item .nav-link {
  > .tab-image {
    background-color: var(--light-grey200);
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
}

.nav-tabs .nav-item .nav-link.active {
  > .tab-image {
    background-color: var(--yellow);
  }
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  border-color: transparent;
  border-bottom: 2px solid var(--primary);

  > p {
    color: var(--primary);
  }
}

.section-container {
  width: 100%;
  max-width: 1080px;
  margin: 0px auto;
}

.delivery-selection-container {
  position: sticky;
  top: 0;
  background: var(--light);
  z-index: 1;
}

.filter-badge-section {
  position: sticky;
  top: 0;
  background: var(--light);
  z-index: 1;
}

.filter-buttons {
  font-size: 0.7rem;
  color: var(--light-grey);
  border: 1px solid var(--light-grey200);
  display: flex;
  align-items: center;

  > span {
    font-size: 18px;
    margin-right: 10px;
  }
}

/* CATEGORIES SECTION */
.categories-section {
  width: 100%;
  height: 300px;
  background: var(--light-grey100);
  .section-container {
    > .row {
      > .categories-slider {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: scroll;
        > .categories-card {
          min-width: 180px;
          > .card-content {
            padding: 0 10px;
            > .categories-image {
              width: 150px;
              height: 150px;
              border-radius: 50%;
              transition: opacity 0.25s ease 0s, transform 0.25s ease 0s;
              will-change: transform, opacity;
            }
          }
        }
      }
    }
  }
}

/* RESTAURANT CARD */

.restaurantCard {
  > .restaurant-card-link {
    text-decoration: none;
    > .cardHead {
      position: relative;
      > .promotedTag {
        color: var(--light-grey100);
        padding: 2px;
        position: absolute;
        top: 12px;
        left: 12px;
        background: rgb(0 0 0 / 37%);
      }
      > .offerRow {
        display: flex;
        justify-content: space-between;
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 10px 0px;
        box-sizing: border-box;
        > .offer {
          background: var(--blue);
          color: var(--light-grey100);
          padding: 0px 10px;
          height: 25px;
        }
        > .timeTaken {
          background: var(--light-grey100);
          padding: 5px;
          border-radius: 10px;
        }
      }
    }
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
